

<div class="grid">

    <div class="col">
        <mat-card  class="col m-4 hover:shadow-4">

            <mat-card-header class="p-3">
                <strong>Personal Operativo</strong>
                <!-- <mat-icon class="p-2">person</mat-icon> -->
    
            </mat-card-header>
           
            <mat-card-content>
                <p>Ingreso, Edición, Revisión, Borrar Usuarios</p>
            </mat-card-content>
            <img  mat-card-image class="max-h-15rem" src=" assets/no-image.png "  alt="hero.superhero"  >
            <button mat-button color="primary" class="col-4 "
            onclick="location.href='alumnos/list'"> Ingresar</button>
    
        </mat-card>
    </div>
   
    <div class="col">

        <mat-card class="col m-4 hover:shadow-4">   
            <mat-card-header class="p-3">
               <strong>Usuarios</strong>
               <!-- <mat-icon class="p-2">pekrson</mat-icon> -->
   
           </mat-card-header>
           <mat-card-content>
               <p>Clientes de Academía</p>
           </mat-card-content>
           <img  mat-card-image class="max-h-15rem" src="assets/no-image.png"  alt="hero.superhero"  >
           <button mat-button color="primary" class="col-4"  
           onclick="location.href='alumnos/list'">Ingresar</button>
         
   
       </mat-card>
   
    </div>
    <div class="col">
        <mat-card class=" m-4 hover:shadow-4">   
            <mat-card-header class="p-3">
               <strong>Cursos</strong>
           </mat-card-header>
           <mat-card-content>
               <p>Ingreso, Edición, Revisión, Borrar Cursos a impartir</p>
           </mat-card-content>
           <img  mat-card-image class="max-h-15rem" src="assets/no-image.png"  alt="hero.superhero"  >
           <button mat-button color="primary" class="col-4 " onclick="location.href='alumnos/list'">Ingresar</button>
   
       </mat-card>

    </div>
               
     <div class="col">
        <mat-card class="  m-4 hover:shadow-4">   
            <mat-card-header class="p-3">
               <strong>Profesores</strong>
           </mat-card-header>
           <mat-card-content>
               <p>Ingreso, Edición, Revisión, Borrar Profesores</p>
           </mat-card-content>
           <img  mat-card-image class="max-h-15rem" src="assets/no-image.png"  alt="hero.superhero"  >
           <button mat-button color="primary" class="col-4 "
           onclick="location.href='alumnos/list'">Ingresar</button>
   
       </mat-card>
   

     </div>  

     <div class="col lg:col-3">
        <mat-card class="  m-4 hover:shadow-4">   
            <mat-card-header class="p-3">
               <strong>Pagos</strong>
           </mat-card-header>
           <mat-card-content>
               <p>Ingreso, Edición, Revisión, Autorización de Pagos</p>
           </mat-card-content>
           <img  mat-card-image class="max-h-15rem" src="assets/no-image.png"  alt="hero.superhero"  >
           <button mat-button color="primary" class="col-4 "
           onclick="location.href='alumnos/list'">Ingresar</button>
   
       </mat-card>
     </div>

     <div class="col lg:col-3">
            <mat-card class="  m-4 hover:shadow-4">   
            <mat-card-header class="p-3">
               <strong>Notas</strong>
           </mat-card-header>
           <mat-card-content>
               <p>Revisión de notas</p>
           </mat-card-content>
           <img  mat-card-image class="max-h-15rem"  src="assets/no-image.png"  alt="hero.superhero"  >
          
           <button mat-button color="primary" class="col-4 "
           onclick="location.href='alumnos/list'">Ingresar</button> 
      
        </mat-card>
    
     </div>
        
   
</div>

    

<div class="grid">
    <div class="col">
        <mat-card>
            
        </mat-card>
    </div>
</div>